<div id="online-user-count">
    {% if online_users %}
        <span class="bg-red-500 rounded-lg pt-1 pb-2 px-2 text-white text-sm ml-4">
        {{ online_users.count }} online
        </span>
    {% endif %}
</div>

<div id="online-in-public-chats">
    {% if online_in_public_chats %}
    <div class="green-dot absolute top-2 z-20"></div>
    {% endif %}
</div>

<div id="online-in-private-chats">
    {% if online_in_private_chats %}
    <div class="green-dot absolute top-2 z-20"></div>
    {% endif %}
</div>

<ul id="private-chats-list" class="hoverlist [&>li>a]:justify-end">
    {% for chatroom in user.chat_groups.all %}
        {% if chatroom.is_private %}
            {% for member in chatroom.members.all %}
                {% if member != user %}
                <li class="relative">
                    {% if chatroom.users_online.all and user not in chatroom.users_online.all or chatroom.users_online.count > 1 %}
                        <div class="green-dot absolute top-1 left-1"></div>
                    {% else %}
                        <div class="graylight-dot absolute top-1 left-1"></div>
                    {% endif %}
                    <a href="{% url 'chatroom' chatroom.group_name %}">{{ member.profile.name }}</a>
                </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}  
</ul>

<div id="online-in-group-chats">
    {% if online_in_group_chats %}
    <div class="green-dot absolute top-2 z-20"></div>
    {% endif %}
</div>

<ul id="group-chats-list" class="hoverlist [&>li>a]:justify-end">
    {% for chatroom in user.chat_groups.all %}
        {% if chatroom.groupchat_name %}
            <li class="relative">
                {% if chatroom.users_online.all and user not in chatroom.users_online.all or chatroom.users_online.count > 1 %}
                    <div class="green-dot absolute top-1 left-1"></div>
                {% else %}
                    <div class="graylight-dot absolute top-1 left-1"></div>
                {% endif %}    
                <a class="leading-5 text-right" href="{% url 'chatroom' chatroom.group_name %}">
                    {{ chatroom.groupchat_name|slice:":15" }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>