{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Title</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'unpkg/cdn.min.js' %}" defer></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script> -->
    <script src="{% static 'unpkg/htmx.js' %}" defer></script>
    <!-- <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script> -->
    <script src="{% static 'unpkg/ws.js' %}" defer></script>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script> -->
    <script src="{% static 'unpkg/_hyperscript.min.js' %}"></script>
    <!-- <script src="https://unpkg.com/hyperscript.org@0.9.12"></script> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="{% block class %}{% endblock %}">
	
    {% include 'includes/messages.html' %}

    {% include 'includes/header.html' %}

    {% block layout %}
    {% endblock %}

    {% if user.is_authenticated %}
    <footer hx-ext="ws" ws-connect="/ws/online-status/"></footer>
    {% endif %}

    {% block javascript %}{% endblock %}

</body>
</html>
